services:
  - type: web
    name: cadence-app
    env: ruby
    buildCommand: bundle install && yarn install && bundle exec rake assets:precompile RAILS_ENV=production
    preDeployCommand: bundle exec rails db:migrate
    startCommand: bundle exec puma -t 5:5 -p ${PORT:-3000} -e ${RACK_ENV:-production}