<div class="container-fluid" style="padding-top: 2rem;">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="form-container">
        <h4>Edit Project</h4>
        <%= render 'form', project: @project %>
      </div>
    </div>
  </div>
</div>